[Unit]
Description=Orbita Kiosk Backend Service
After=network.target

[Service]
User=Kiosk
WorkingDirectory=/home/kiosk/Orbita/backend
ExecStart=/home/kiosk/Orbita/backend/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
